<section class="products">
  <div class="products-header">
    <h2>Our Products</h2>
    <p>
      Explore our range of innovative solutions crafted to enhance your learning
      and professional journey.
    </p>
  </div>

  <div class="product-cards">
    <div class="product-card">
      <img src="https://media.istockphoto.com/id/2204916274/photo/diminishing-perspective-of-distribution-warehouse-with-plexus-lines-automated-guided-vehicles.jpg?s=1024x1024&w=is&k=20&c=Kfa89WbiKCGer3EeI6wZSE5rrHNlfcJ89HrLBmbAy7o=" alt="Product 1" />
      <h3>Smart LMS</h3>
      <p>
        A modern learning system to manage courses, track progress,
        and engage students.
      </p>
      <button class="btn-product">Learn More</button>
    </div>

    <div class="product-card">
      <img src="https://media.istockphoto.com/id/1486721631/photo/e-learning-graduate-certificate-program-concept-businessman-hand-holding-light-bulb-with.jpg?s=1024x1024&w=is&k=20&c=DTUwaP0fEDj2xHKkyS83vq7Kc37hb3J26w6SSOZuCow=" alt="Product 2" />
      <h3>AI Tutor</h3>
      <p>
        Personalized AI-driven assistant for students to get instant support and
        feedback.
      </p>
      <button class="btn-product">Learn More</button>
    </div>

    <div class="product-card">
      <img src="https://media.istockphoto.com/id/682183918/photo/spanner-and-tools-concept.jpg?s=1024x1024&w=is&k=20&c=aWwt3U4lTm35t4c_RHAomZxFtbNgeaz3uuBcNckCW90=" alt="Product 3" />
      <h3>Collab Tools</h3>
      <p>
        Empower teachers and students with real-time collaboration tools for
        projects and discussions.
      </p>
      <button class="btn-product">Learn More</button>
    </div>
  </div>
</section>
